ADFBC/OrderServiceApp/XxMyOrdersServiceModel/classes/xx/orders/am/common/serviceinterface/XxMyOrdersService.wsdl

<wsdl:definitions
     name="XxMyOrdersService"
     targetNamespace="/xx/orders/am/common/"
     xmlns:tns="/xx/orders/am/common/"
     xmlns:types="/xx/orders/am/common/types/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/xx/orders/am/common/types/" schemaLocation="XxMyOrdersService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="XxMyOrdersService_getCustomerLocations">
        <wsdl:part name="parameters" element="types:getCustomerLocations"/>
    </wsdl:message>
    <wsdl:message name="XxMyOrdersService_getCustomerLocationsResponse">
        <wsdl:part name="parameters" element="types:getCustomerLocationsResponse"/>
    </wsdl:message>
    <wsdl:message name="XxMyOrdersService_getRequestedOrders">
        <wsdl:part name="parameters" element="types:getRequestedOrders"/>
    </wsdl:message>
    <wsdl:message name="XxMyOrdersService_getRequestedOrdersResponse">
        <wsdl:part name="parameters" element="types:getRequestedOrdersResponse"/>
    </wsdl:message>
    <wsdl:portType name="XxMyOrdersService">
        <wsdl:documentation/>
        <wsdl:operation name="getCustomerLocations">
            <wsdl:input message="tns:XxMyOrdersService_getCustomerLocations"/>
            <wsdl:output message="tns:XxMyOrdersService_getCustomerLocationsResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestedOrders">
            <wsdl:input message="tns:XxMyOrdersService_getRequestedOrders"/>
            <wsdl:output message="tns:XxMyOrdersService_getRequestedOrdersResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XxMyOrdersServiceSoapHttp" type="tns:XxMyOrdersService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerLocations">
            <soap:operation soapAction="/xx/orders/am/common/getCustomerLocations"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestedOrders">
            <soap:operation soapAction="/xx/orders/am/common/getRequestedOrders"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XxMyOrdersService">
        <wsdl:port name="XxMyOrdersServiceSoapHttpPort" binding="tns:XxMyOrdersServiceSoapHttp">
            <soap:address location="http://localhost:7101/OrdersService/XxMyOrdersService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
