ADFBC/OrderServiceApp/XxMyOrdersServiceModel/src/xx/orders/am/common/serviceinterface/XxMyOrdersService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/xx/orders/am/common/types/"
     xmlns:tns="/xx/orders/am/common/types/" xmlns:ns0="/xx/orders/view/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/errors/">
    <import namespace="/xx/orders/view/common/" schemaLocation="../../../view/common/XxMyLocationsVOSDO.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="classpath:/META-INF/wsdl/ServiceException.xsd"/>
    <import namespace="/xx/orders/view/common/" schemaLocation="../../../view/common/XxMyOrdersVOSDO.xsd"/>
    <element name="getCustomerLocations">
        <complexType>
            <sequence>
                <element name="custAccountId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getCustomerLocationsResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:XxMyLocationsVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getRequestedOrders">
        <complexType>
            <sequence>
                <element name="custAccountId" type="long"/>
                <element name="noOfDays" type="int"/>
                <element name="noOfRows" type="int"/>
                <element name="location" type="string"/>
                <element name="orderBy" type="string"/>
                <element name="fetchClosedOrders" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getRequestedOrdersResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:XxMyOrdersVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>
