ADFBC/OrderServiceApp/XxMyOrdersServiceModel/classes/xx/orders/view/common/XxMyOrderARHeaderVOSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/xx/orders/view/common/" xmlns="/xx/orders/view/common/" elementFormDefault="qualified"
     sdoJava:package="xx.orders.view.common">
    <xsd:annotation>
        <xsd:documentation>
            <name>Xx My Order Ar Header Ddvo</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:include schemaLocation="XxMyOrderARLinesVOSDO.xsd"/>
    <xsd:complexType name="XxMyOrderARHeaderVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>CustomerTrxId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CustomerTrxId" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="TrxNumber" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TrxDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="SalesOrder" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DueDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="InvoiceAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="AmountDue" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="ClosedFlag" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ARAlertFlag" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="XxMyOrderARLinesVO" type="XxMyOrderARLinesVOSDO" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="xxMyOrderARHeaderVOSDO" type="XxMyOrderARHeaderVOSDO"/>
</xsd:schema>
