ADFBC/OrderServiceApp/XxMyOrdersServiceModel/classes/xx/orders/view/common/XxMyOrderDetailsVOSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/xx/orders/view/common/" xmlns="/xx/orders/view/common/" elementFormDefault="qualified"
     sdoJava:package="xx.orders.view.common">
    <xsd:annotation>
        <xsd:documentation>
            <name>Xx My Order Details Vo</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="XxMyOrderDetailsVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>LineId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="HeaderId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="LineId" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="LineNumber" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderedItem" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="LineStatus" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderQuantityUom" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ShippedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="ShippingQuantityUom" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="UnitSellingPrice" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="LineTotal" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="DeliveryName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FreightCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ActualArrivalDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="BackorderQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Address" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ShipToContact" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AlertFlag" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FulfillmentDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="xxMyOrderDetailsVOSDO" type="XxMyOrderDetailsVOSDO"/>
</xsd:schema>
